
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container">
			<div class="navbar-header">
			  <a class="navbar-brand" href="/">Aling Nena</a>
			</div>
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a href="/about">About</a></li>
					<li><a href="/product">Products</a></li>
				  </ul>
			   </div>
		  </div>
		</div>
	
	
	<div class="container">
		<div class = "row-fluid">
			<div class= "span4">
				<strong>
				<h1> About </h1><br /><br />
				Aling Nena’s dream of owning her own store began on one faithful summer day during 1991 in her hometown in Tondo, Manila. Little Nena was twelve years old at the time and she and her friends had finished a day of play and went to visit the local (and only) sari-sari store in the barangay. That sari-sari store was terribly under stocked and Little Nena and her friends were treated rather poorly by the person in charge of the store. Little Nena detested the treatment they were given and knew she could do a better job. And thus the dream began.<br /><br />
				She started by selling small trinkets around the barangay. Everyone was more than willing to humor her and bought things from her little business. Years later, after being able to save enough money, she finally set up her first sari-sari store. .<br /><br />
				Since then, Aling Nena’s sari-sari store has been <em>the</em> sari-sari store of the entire barangay. There is no store that people trust more and Aling Nena’s humble sari-sari store.   
				</strong>
			</div>
			
			<div class="span4">
				<center><img src="banner.jpg" /></center>
			</div>
		</div>
	</div>
	

 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
